[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "tools/griffiths-core"]
	path = tools/griffiths-core
	url = https://github.com/cadfan/griffiths-core.git
